.column {
  float: left;
  width: 45%;
  padding: 15px;
}

#columnwrapper {
  margin: auto;
  width: 1300px;
}

h1 {
  text-align: center;
  font-size: 4em;
  font-family: Montserrat;
  color: #FFF200;
  border: solid
  color: white;
  font-family: Sorts Mill Goudy;

}

h2 {
  text-align: center;
  font-size: 2em;
  font-style: italic;
  font-family: Montserrat;
  color: #FFF200;
  font-family: Sorts Mill Goudy;
}



h3 {
  border-bottom: 2px dotted #FFF200;
  font-family: Inconsolata;
  color: #FFF200;
  font-family: Sorts Mill Goudy;
}

h4 {
  font-family: Sorts Mill Goudy;
  color: white;
}

body {
  color: #A487BE;
  background-color: #5B6239;
  font-family: Yanone Kaffeesatz;
}
